body,
div,
p,
header,
section,
input,
article,
ul,
li,
a {
    margin: 0;
    padding: 0;
}
.clearfix:after,
.clearfix:before {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #1E3741;
}

.wrapper header {
    display: flex;
    align-items: center;
    margin-top: 200px;
}

.main-title {
    display: inline-block;
    float: left;
    padding: 10px;
}

.main-title a {
    color: white;
}

.main-nav ul:before, .main-nav ul:after {
    content:"";
    display:table;
}

.main-nav ul:after {
    clear:both;
}

.main-nav > ul > li {
    margin-left: 1px;
    list-style: none;
    float: left;
    text-align: center;
    position: relative;
    background-color: #4B5F67;
}

.main-nav > ul > li:hover > a {
    text-decoration: underline;
}

.main-nav ul li a {
    height: 43px;
    line-height: 43px;
    padding: 20px;
    font-weight: bold;
    color: #87AEB4;
}

.main-nav ul li ul a {
    color: white;
}

.main-nav li ul li:hover {
    background:rgba(0,0,0,0.2);
}

.main-nav li ul {
    position:absolute;
    left:0;
    top:44px;
    z-index:1;
    visibility:hidden;
    opacity:0;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    filter:alpha(opacity=0);
    -webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
}

.main-nav ul > li:hover ul {
    visibility:visible;
    opacity:1;
    filter:alpha(opacity=100);
    background-color: orange;
}

.main-nav ul > li:hover ul a {
    text-decoration: none;
}

